.select{
    width: 20%;
    height: 25px;
    outline: none
}

@media screen and (max-width: 550px){
    .readingMaterialsText{
        margin-top: 5rem;
    }
    .select{
        width: 80%;
    }

}