.Home{
    background: url('../../assets/HomeBooks.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 0;
}
.CenterDiv{
    height: 30%;
    width: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnContainers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto

}
.buttons{
    background-color: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}