.progress {
    background-color: var(--border-line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0%;
    height: 4px;
    z-index: -1;
    transition: 0.4s ease;
}